* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	color: #fff;
}

// METHOD 1: LINE NUMBERS
// .container {
// 	display: grid;
// 	grid-template-rows: 100px 200px 400px 100px;
// 	grid-template-columns: repeat(3, 1fr) 200px;
// 	width: 1000px;
// 	margin: 30px auto;
// 	gap: 30px;

// 	& > * {
// 		background-color: red;
// 		padding: 30px;
// 	}

// 	.header,
// 	.footer {
// 		grid-column: 1/-1;
// 	}

// 	.main-content {
// 		grid-column: 1 / span 3;
// 	}
// 	.sidebar {
// 		grid-row: 2/4;
// 		grid-column: 4/5;
// 	}
// }
// METHOD 2: LINE NAMES
// .container {
// 	display: grid;
// 	grid-template-rows:
// 		[header-start] 100px [header-end box-start]
// 		200px [box-end main-start] 400px [main-end footer-start] 100px [footer-end];
// 	grid-template-columns: repeat(3, [col-start] 1fr [col-end]) 200px [grid-end];
// 	width: 1000px;
// 	margin: 30px auto;
// 	gap: 30px;

// & > * {
// 	background-color: yellowgreen;
// 	padding: 30px;
// }

// 	.header,
// 	.footer {
// 		grid-column: col-start 1 / grid-end;
// 	}

// 	.main-content {
// 		grid-column: col-start 1 / span 3;
// 	}
// 	.sidebar {
// 		grid-row: box-start / main-end;
// 		grid-column: col-end 3 / grid-end;
// 	}
// }

// METHOD 3: NAME GRID AREAS

.container {
	display: grid;
	grid-template-rows: 100px 200px 400px 100px;
	grid-template-columns: repeat(3, 1fr) 200px;
	width: 1000px;
	margin: 30px auto;
	gap: 30px;
	grid-template-areas:
		'. header header .'
		'box box box sidebar'
		'main main main sidebar'
		'footer footer footer footer';

	& > * {
		background-color: blueviolet;
		padding: 30px;
	}

	.header {
		grid-area: header;
	}

	.small-box {
		&-1,
		&-2,
		&-3 {
			grid-area: box;
		}
	}

	.main-content {
		grid-area: main;
	}
	.sidebar {
		grid-area: sidebar;
	}
	.footer {
		grid-area: footer;
	}
}
