.features {
	margin: 15rem 0;

	display: grid;
	align-items: start;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-template-rows: auto auto;
	gap: 6rem;

	grid-column: center-start / center-end;
}

.feature {
	display: grid;
	grid-template-columns: min-content 1fr;
	gap: 1.5rem 2.5rem;

	&__icon {
		fill: $color-primary;
		width: 4.5rem;
		height: 4.5rem;
		grid-row: 1 / span 2;
		transform: translateY(-1rem);
	}

	&__text {
		font-size: 1.7rem;
	}
}
