.footer {
	background-color: $color-secondary;
	grid-column: full-start / full-end;

	padding: 6em;
}

.nav {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 2rem;
	align-items: center;

	&__link:link,
	&__link:visited {
		font-size: 1.4rem;
		color: #fff;
		font-family: $font-display;
		text-transform: uppercase;
		text-align: center;
		padding: 1em;
		display: block;
		transition: all 0.2s;
	}
	&__link:hover,
	&__link:active {
		background-color: rgba(#fff, 0.05);
		transform: translateY(-0.3rem);
	}
}
.copyright {
	font-size: 1.4rem;
	color: $color-grey-light-2;
	margin-top: 6rem;
	text-align: center;
}
