.story {
	&__pictures {
		display: grid;

		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(6, 1fr);
		align-items: center;

		grid-column: full-start / col-end 4;

		background: linear-gradient(
				rgba($color-primary, 0.5),
				rgba($color-primary-dark, 0.5)
			),
			url(../img/back.jpg) center/cover;

		@media only screen and (max-width: $bp-medium) {
			grid-column: 1/-1;
			padding: 6em;
		}
	}

	&__img--1 {
		width: 100%;
		grid-row: 2 / 6;
		grid-column: 2 / 6;
		box-shadow: 0 2rem 5rem rgba(#000, 0.1);

		@media only screen and (max-width: $bp-medium) {
			grid-column: 1 / 5;
			grid-row: 1 / -1;
		}
	}
	&__img--2 {
		width: 115%;
		z-index: 100;
		grid-row: 4 / 6;
		grid-column: 4 / 7;
		box-shadow: 0 2rem 5rem rgba(#000, 0.2);

		@media only screen and (max-width: $bp-medium) {
			grid-row: 1/-1;
			width: 100%;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;

		justify-content: center;
		align-items: flex-start;
		background-color: $color-grey-light-1;
		grid-column: col-start 5 / full-end;

		padding: 6em 7vw;

		@media only screen and (max-width: $bp-medium) {
			grid-column: 1/-1;
			grid-row: 5/6;
		}
	}

	&__text {
		font-size: 1.5rem;
		font-style: italic;
		margin-bottom: 4rem;
	}
}
